body{
    color: white;
}
.screen {
    background-color: black;
    border-radius: 18px;
    font-size: 50px;
}
.btns .btn {
    background-color: cadetblue;
    border-radius: 18px;
    width: 100%;
    font-size: 25px;
    font-weight: 700px;
    
}